
body{
    margin: 0;
    padding: 0;
}
.header{
    height:100vh;
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(image/donat2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
    /* position: sticky;
    top: 0; */
  }
  #logo{
    margin-left: 10px;
    float: left;
    font-family: 'Lobster', cursive;
    color: rgb(217, 226, 212);
    font-size:30px;
    transition: 0.5s;
  }
  #logo:hover{
    color: white;
    text-shadow:2px 2px rgb(175, 90, 90);
  }
  ul,li{
    list-style: none;
    display: inline-block;
  }
  ul,li,a{
    margin-right: 10px;
    color:#fff;
   text-decoration: none;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   font-size: 18px;
   padding:5px ;
  }
  ul,li,a:hover{
    color: rgb(207, 186, 171)  ;
  }
  .text{
    font-family: 'Crimson Text', serif;
    user-select: none;
    text-align: center;
    color: antiquewhite;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
  }
  .box,h1{
    font-size: 45px;
    text-shadow:1.5px 1.5px rgb(175, 90, 90);
  }
  .box,p{
    margin:0;
    font-size:15px;
}
@media only screen and(max-width:700px){
   .box,h1{
        font-size: 20px;
        text-shadow:1.5px 1.5px rgb(175, 90, 90);
      } 
      ul,li{
       display: block;
      }
    }
    .second{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
            background: #fff;
           text-align: center;
    }
    .second,h2{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-shadow: 1px 1px rgba(128, 128, 128, 0.603);
      font-size: 25px;
      font-weight: 400;
    }
    .dis{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 700px;
      height: 200px;
      background-color:#aca7a7cb ;
      border-radius: 20px;
      
      }
      .secp{
        padding: 0 5px 0 5px;
        font-family: 'Crimson Text', serif;
        text-align: center;
        /* font-weight: 100px; */
        font-size: 17px;
      }
      @media only screen and(max-width:700px){
           .dis{
            width: 350px;
            height: 250px;
           }
      }
      .row{
        margin-top: 130px;
        margin-bottom: 40px;
        text-align: center;
      }
      .row,h2{
        font-size: 30PX;
      }

  
    .allimg{
      display:flex ;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      
    }
      .animation:hover{
        box-shadow:5px 10px 18px #d1d0d0;
      }
      
      .animation{
       position: relative;
        width: 250px;
        height: 500px;
        border-radius:20px;
        overflow: hidden;
        
      }
      .layr{
            width: 100%;
            height: 100%;
            background:transparent;
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.5s;
      }
      .layr:hover{
        background-color: rgb(0, 0, 0,0.1);
      }
      .layr,h3{
        text-align: center;
        color: #FFF;
        font-size: 24px;
        bottom: 0;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        opacity: 0;
        transition: 0.5s;
      }
      .layr:hover,h3{
        bottom: 49%;
        opacity: 1;
      }
      .ours{
        margin-top: 30px;
        text-align: center;
        font-size: 17px;
        color: rgb(90, 90, 90);
        font-weight: 500;
        font-family: 'Crimson Text', serif;
      }
      #link{
        color: rgb(154, 147, 197);
        text-decoration: underline;
      }
      .plz{
        height: 80px;
        width: 100%;
      }
      
     
 .textfutr{
      text-align: center;
      /* margin: 45px 0; */
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

 }
 .COPY{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(151, 150, 150);
  height: 50px;

 }
 @media only screen and(max-width:700px){
  .COPY{
    font-size: 9px;
    height: 30px;
  }
 }
















